* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #d9d9d9;
  padding: 20px;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  text-align: center;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #f9f4da;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8e8e8e;
}

.game-lost {
  background-color: #ba2a2a;
}

.game-win {
  background-color: #10a95b;
}

.farewell {
  background-color: #7a5ea7;
  border: 1px dashed #323232;
}

.status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  min-height: 60px;
  border-radius: 4px;
  color: #f9f4da;
  margin-block: 30px;
}

.farewell-message {
  font-style: italic;
  font-weight: 400;
}

.status > h1 {
  font-size: 1.25rem;
  margin: 6px;
}

.status > p {
  font-size: 0.875rem;
  margin: 6px;
}

.language-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 350px;
  margin-bottom: 36px;
}

span.chip {
  border-radius: 3px;
  padding: 4.5px;
  position: relative;
}

span.chip.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 2.5px;
}

.word {
  display: flex;
  gap: 2px;
  justify-content: center;
  margin-bottom: 50px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #323232;
  border-radius: 1px;
  border-bottom: 1px solid #f9f4da;
  font-size: 1.125rem;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 450px;
  justify-content: center;
  margin-bottom: 36px;
}

.keyboard-letter {
  background-color: #fcba29;
  height: 35px;
  width: 35px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  cursor: pointer;
}

button.new-game {
  background-color: #11b5e5;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  cursor: pointer;
}

.isWrong {
  background-color: #ec5d49;
}

.isCorrect {
  background-color: #10a95b;
}
